@media (max-width: 500px){
    #hero{
        margin-bottom: 75px;
    }
    .product_container{
        grid-template-columns: 85.3%;
    }
    #developers{
        grid-template-columns: 90%;
        height: 900px;
    }
    .developer{
        justify-content: center;
    }
}

@media (max-width: 1024px){
    #developers{
        grid-template-columns: repeat(2, 46.4%);
    }
}