@media (max-width: 500px){
    #hero{
        margin-bottom: 75px;
    }
    .product_container{
        grid-template-columns: 300px;
    }
    #developers{
        grid-template-columns: 100%;
        height: auto;
    }
    .developer{
        width: 90%;
        justify-content: center;
    }
}