@media screen and (max-width:1200px){
    #developers{
        grid-template-columns: repeat(2, 46.3%);
    }
}
@media screen and (max-width:900px){
    .product_container{
        grid-template-columns: repeat(3, 32%);
    }
    #developers{
        grid-template-columns: 80%;
        height: 900px;
    }
}
@media screen and (max-width:775px){
    .product_container{
        grid-template-columns: 50%;
    }
}
@media screen and (max-width:650px){
    .header .brand_image img{
        margin: 0;
    }
    #developers{
        height: 700px;
    }
    .developer img{
        height: 220px;
    }
}
@media screen and (max-width:500px){
    #hero{
        margin-bottom: 75px;
    }
    .product_container{
        grid-template-columns: 80%;
    }
    .product_button{
        font-size: 16px;
    }
}
@media screen and (max-width:350px){
    .one, .two, .three{
        display: none;
    }
    .menu, .icons_footer{
        display: flex;
    }
}