@media screen and (max-width:1200px){
    #developers{
        grid-template-columns: repeat(2, 46.3%);
    }
}

@media screen and (max-width:850px){
    .product_container{
        grid-template-columns: 60%;
    }
    #developers{
        grid-template-columns: 80%;
        height: 900px;
    }
}