@media screen and (max-width:1200px){
    #developers{
        gap: 25px;
        grid-template-columns: 75%;
        height: auto;
        padding-bottom: 25px;
    }
    .developer img{
        width: 100%;
    }
    .product_container{
        grid-template-columns: 500px;
        gap: 20px;
    }
}
@media screen and (max-width:525px){
    #hero{
        margin: 50px 0;
    }
    .product_container{
        grid-template-columns: 80%;
    }
    .product_button{
        font-size: 16px;
        font-weight: normal;
    }
    .product_buttons{
        grid-template-columns: repeat(2, 43.6%);
    }
    .developer img{
        height: 250px;
    }
}
@media screen and (max-width:350px){
    .one{
        display: none;
    }
}