:root{
  --brown-color: #E67E22;
  --grey-color: #444;
  --white-color: #FFF;
  --yellow-color: #FBFB04;
}

html, body{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.header{
  align-items: center;
  background-color: var(--yellow-color);
  display: flex;
  justify-content: space-between;
}
.header .brand_image{
  margin: 0 10px;
}
.header ul{
  display: flex;
  list-style: none;
}
.header li a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding-right: 15px;
}
.header a:hover, .content a:hover{
  text-decoration: underline;
}
#hero{
  padding: 12%;
  text-align: center;
}

.hero_insta_container #insta{
  align-items: center;
  background-color: var(--brown-color);
  border-radius: 50%;
  color: var(--white-color);
  display: inline-flex;
  font-size: 48px;  
  height: 90px;
  justify-content: center;
  text-decoration: none;
  width: 90px; 
  }
  .hero_insta_container a i{
    transition: 0.4s all;
  }
  .hero_insta_container a:hover i{
    transform: scale(1.6) rotate(25deg);
  }

#product_title, .devs_title{
  margin: 60px 0;
  text-align: center;
}
.product_container{
  display: grid;
  grid-template-columns: repeat(3, 400px);
  justify-content: space-evenly;
}
.product_item{
  border: 1px solid var(--grey-color);
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  transition: 450ms all;
}
.product_item:hover{
  box-shadow: 0 0 5px var(--grey-color);
  -webkit-transform: scale(0.9);
}
.product_buttons{
  display: flex;
  justify-content: center;
}
.product_button{
  border-radius: 5px;
  color: var(--white-color);
  font-size: 22px;
  font-weight: bold;
  margin: 40px 10px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  width: 250px;
}
.insta{
  background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.web{
  background-image: linear-gradient(45deg, var(--yellow-color), var(--brown-color), var(--grey-color));
}

#developers{
  align-items: center;
  background-image: url('../imgs/curve.png');
  background-position: center top;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  height: 500px;
  justify-content: space-evenly;
}
.developer{
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--grey-color);
  overflow: hidden;
}
.content, .content a{
  color: var(--grey-color);
  padding: 0 10px 5px;
  text-decoration: none;
}

.footer{
  align-items: center;
  background-color: var(--grey-color);
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.footer .icons_footer a{
  color: var(--white-color);
  font-size: 40px;
  margin-right: 10px;
}