:root{
  --brown-color: #E67E22;
  --grey-color: #444;
  --white-color: #FFF;
  --yellow-color: #FBFB04;
}

html, body{
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.header{
  align-items: center;
  background-color: var(--yellow-color);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 15px;
}

.header .brand_image img{
  height: 100px;
}

.header .nav_options ul{
  display: flex;
  list-style: none;
}

.header li a{
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 15px;
}

.header li a:hover{
  font-size: 19px;
  text-decoration: underline;
  transition: all 300ms;
}
/* ------------------------------------------------------------Header end */

#hero{
  padding: 16%;
  padding-bottom: calc(16% - 100px);
  text-align: center;
}

.s-m #insta{
  align-items: center;
  background-color: var(--brown-color);
  border-radius: 50%;
  color: var(--white-color);
  display: inline-flex;
  font-size: 48px;  
  height: 90px;
  justify-content: center;
  text-decoration: none;
  transition: 0.4s;
  width: 90px; 
  }
  .s-m #insta:hover{
    background: var(--yellow-color);
  }
  .s-m a i{
    transition: 0.4s all;
  }
  .s-m a:hover > i{
    transform: scale(1.6) rotate(25deg);
  }

/* ----------------------------------------------------------------hero end */

#product_title, .devs_title{
  margin: 70px 0;
  text-align: center;
}

.product_container{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.product_item{
  border-radius: 10px;
  box-shadow: 0 0 5px var(--grey-color);
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.product_item .product_img{
  height: 200px;
  width: 100%;  
}

.product_item h3{
  transition: all 300ms;
}

.product_item{
  transition: all 300ms;
}

/* -------------------------------------------------------------------product end */

#developers{
  align-items: center;
  background-image: url('../imgs/curve.png');
  background-position: center top;
  background-size: cover;
  display: flex;
  height: 500px;
  justify-content: space-evenly;
}

.developer{
  background-color: var(--white-color);
  border: 1px dotted var(--grey-color);
  border-radius: 5px;
  overflow: hidden;
  width: 500px;
}

.developer img{
  height: 300px;
  width: 100%;
}

.content a{
  color: var(--grey-color);
  text-decoration: none;
}

.content a:hover{
  text-decoration: underline;
}

/* ------------------------------------------------------------------devs end */

.footer{
  align-items: center;
  background-color: var(--grey-color);
  color: var(--white-color);
  display: flex;
  height: 75px;
  justify-content: space-between;
  padding: 0px 20px;
}

.footer .icons_footer a{
  color: var(--white-color);
  font-size: 40px;
}