@media screen and (max-width:1200px){
    #developers{
        gap: 25px;
        grid-template-columns: 75%;
        height: auto;
        padding-bottom: 25px;
    }
    .product_container{
        gap: 35px;
        grid-template-columns: 50%;
    }
}
@media screen and (max-width:650px){
    .product_container{
        grid-template-columns: 80%;
    }
    .header .brand_image img{
        margin: 0;
    }
    #developers{
        height: 825px;
    }
    .developer img{
        height: 220px;
    }
@media screen and (max-width:500px){
    #hero{
        margin-bottom: 100px;
    }
    .product_button{
        font-size: 16px;
        font-weight: normal;
    }
    .product_buttons{
        grid-template-columns: repeat(2, 43.6%);
    }
}
@media screen and (max-width:350px){
    .one{
        display: none;
    }
}